@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-ky1lr7');
	src:url('fonts/icomoon.eot?#iefix-ky1lr7') format('embedded-opentype'),
		url('fonts/icomoon.woff?-ky1lr7') format('woff'),
		url('fonts/icomoon.ttf?-ky1lr7') format('truetype'),
		url('fonts/icomoon.svg?-ky1lr7#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-iconfont-add:before {
	content: "\e600";
}

.icon-iconfont-arrow:before {
	content: "\e601";
}

.icon-iconfont-arrow2:before {
	content: "\e602";
}

.icon-iconfont-arrowdown:before {
	content: "\e603";
}

.icon-iconfont-arrowmenu:before {
	content: "\e604";
}

.icon-iconfont-autoplay:before {
	content: "\e605";
}

.icon-iconfont-block:before {
	content: "\e606";
}

.icon-iconfont-cancel:before {
	content: "\e607";
}

.icon-iconfont-chart:before {
	content: "\e608";
}

.icon-iconfont-checkbox:before {
	content: "\e609";
}

.icon-iconfont-checkbox-checked:before {
	content: "\e60a";
}

.icon-iconfont-close:before {
	content: "\e60b";
}

.icon-iconfont-closure:before {
	content: "\e60c";
}

.icon-iconfont-data:before {
	content: "\e60d";
}

.icon-iconfont-date:before {
	content: "\e60e";
}

.icon-iconfont-delete:before {
	content: "\e60f";
}

.icon-iconfont-delete2:before {
	content: "\e610";
}

.icon-iconfont-earth:before {
	content: "\e611";
}

.icon-iconfont-earth2:before {
	content: "\e612";
}

.icon-iconfont-edit:before {
	content: "\e613";
}

.icon-iconfont-empty:before {
	content: "\e614";
}

.icon-iconfont-export:before {
	content: "\e615";
}

.icon-iconfont-folder:before {
	content: "\e616";
}

.icon-iconfont-jing:before {
	content: "\e617";
}

.icon-iconfont-list:before {
	content: "\e618";
}

.icon-iconfont-locked:before {
	content: "\e619";
}

.icon-iconfont-maximized:before {
	content: "\e61a";
}

.icon-iconfont-member:before {
	content: "\e61b";
}

.icon-iconfont-menu:before {
	content: "\e61c";
}

.icon-iconfont-menu2:before {
	content: "\e61d";
}

.icon-iconfont-minimized:before {
	content: "\e61e";
}

.icon-iconfont-more:before {
	content: "\e61f";
}

.icon-iconfont-movedown:before {
	content: "\e620";
}

.icon-iconfont-moveup:before {
	content: "\e621";
}

.icon-iconfont-ok:before {
	content: "\e622";
}

.icon-iconfont-open:before {
	content: "\e623";
}

.icon-iconfont-percent:before {
	content: "\e624";
}

.icon-iconfont-photo:before {
	content: "\e625";
}

.icon-iconfont-play:before {
	content: "\e626";
}

.icon-iconfont-plus:before {
	content: "\e627";
}

.icon-iconfont-radiobutton:before {
	content: "\e628";
}

.icon-iconfont-radiobutton-checked:before {
	content: "\e629";
}

.icon-iconfont-return:before {
	content: "\e62a";
}

.icon-iconfont-rmb:before {
	content: "\e62b";
}

.icon-iconfont-seach2:before {
	content: "\e62c";
}

.icon-iconfont-search:before {
	content: "\e62d";
}

.icon-iconfont-setting:before {
	content: "\e62e";
}

.icon-iconfont-text:before {
	content: "\e62f";
}

.icon-iconfont-upload:before {
	content: "\e630";
}

