/* Button组件，自定义样式 */
.md-button {
    min-width: 80px;
    font-size: 13px;
}

.md-button.md-default-theme.md-primary {
    color: #7d7d7d;
    padding: 0px 24px;
    min-width: 80px;
    height: 30px;
}

.md-button.md-default-theme.md-primary i {
    position: relative;
    top: 1px;
}

.md-button.md-default-theme.md-second {
    font-weight: normal;
    font-size: 12px;
    padding: 0px 15px;
    height: 27px;
    color: #232323;
    background-color: #fcfcfc;
    border: 1px solid #e4e4e4;
}

.md-button.md-default-theme.md-second:not([disabled]):hover,
.md-button.md-default-theme.md-second:not([disabled]):focus {
    background-color: #FFF;
    box-shadow: none;
    transform: none;
}

.md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover,
.md-button.md-default-theme.md-primary.md-raised:not([disabled]):focus,
.md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover,
.md-button.md-default-theme.md-primary.md-fab:not([disabled]):focus {
    background-color: #1dab51;
    color: #f9f9fb;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
}

.md-button.md-fab,
.md-button.md-raised:not([disabled]),
.md-shadow-bottom-z-1 {
    box-shadow: none;
}

.md-button.md-fab:not([disabled]):focus,
.md-button.md-fab:not([disabled]):hover,
.md-button.md-raised:not([disabled]):focus,
.md-button.md-raised:not([disabled]):hover,
.md-shadow-bottom-z-2 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
}

.md-button.md-fab:not([disabled]):active,
.md-button.md-raised:not([disabled]):active,
.md-shadow-bottom-z-2 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .0);
}

.md-button.md-default-theme.md-primary.md-not-raised {
    background-color: #64BA76;
    color: #ffffff;
}

.md-button.md-default-theme.md-primary.md-not-raised:hover,
.md-button.md-default-theme.md-primary.md-not-raised:focus {
    background-color: #1dab51;
    color: #f9f9fb;
}

/* Tabs组件，自定义样式 */
md-tabs.md-default-theme .md-header {
    height: 40px;
}

md-tabs.md-default-theme .md-header-items-container {
    border-bottom: 1px solid #eeeeee;
}

md-tabs.md-default-theme md-tabs-ink-bar {
    color: #676767;
    background: #64ba76;
}

md-tabs.md-default-theme md-tab {
    width: 100px;
}

/* Checkbox组件，自定义样式 */
md-checkbox {
    height: 28px;
    line-height: 28px;
    margin: 0 0 0 15px;
    font-size: 12px;
}

md-checkbox .md-container {
    width: 15px;
    height: 15px;
    top: 5px;
}

md-checkbox .md-icon {
    width: 15px;
    height: 15px;
}

md-checkbox.md-checked .md-icon:after {
    left: 5px;
    top: 1px;
    height: 11px;
}

md-checkbox.md-default-theme:not([disabled]).md-primary .md-icon {
    border-color: #cbcbcb;
}

md-checkbox.md-default-theme:not([disabled]).md-primary:hover .md-icon {
    border-color: #80cf91;
}

md-checkbox.md-default-theme[disabled] {
    color: #a0a0a0;
}

md-checkbox.md-default-theme[disabled] .md-icon {
    border-color: #d1d1d2;
}

md-checkbox .md-label {
    border: 0;
}

/* Radio button组件，自定义样式 */
md-radio-group {
    border: none;
}

md-radio-button {
    /*height: 28px;*/
    /*line-height: 28px;*/
    margin: 0 0 0 15px;
    font-size: 12px;
}

md-radio-button .md-container {
    top: 5px;
}

md-radio-button.md-default-theme .md-off {
    border-color: #cbcbcb;
}

md-radio-button.md-default-theme:not([disabled]):hover .md-off,
md-radio-button.md-default-theme:not([disabled]):hover .md-on {
    border-color: #80cf91;
}

md-radio-button.md-default-theme:not([disabled]).md-primary .md-on {
    border-color: #64ba76;
}

md-radio-button.md-default-theme[disabled] {
    color: #a0a0a0;
}

md-radio-button.md-default-theme[disabled] .md-off,
md-radio-button.md-default-theme[disabled] .md-on {
    border-color: #d1d1d2;
}

/* Switch组件，自定义样式 */
md-switch {
    width: 56px;
    padding: 3px 10px;
    margin: 0px;
    float: left;
}

md-switch.md-default-theme.md-primary[disabled] .md-thumb {
    background-color: rgb(189, 189, 189);
}

md-switch.md-default-theme.md-primary[disabled] .md-bar {
    background-color: rgba(0, 0, 0, 0.12);
}

/* Dialog组件，自定义样式 */
md-dialog {
    box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
    max-height: none;
    max-width: none;
}