<!--
 Created by Kuitos on 7/7/15 18:53.
-->
<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-app="app">

    <div ng-controller="ctrl">

      <input type="text" ng-model="age" ng-model-options="{getterSetter:true}">

      <!--<input type="text" ng-model="_age">-->

      <span ng-bind="age(_age)"></span>

        <span ng-repeat="o in array track by $index" ng-bind="o.name"></span>

</div>

    <script src="../node_modules/angular/angular.min.js"></script>
    <script>

        angular.module("app", [])

                .controller("ctrl", function ($scope) {

                    $scope.name = "ab";

                  var _age  = 10;

                  $scope.age = function (age) {

                    return age ?  _age = age : _age;

                  };


                $scope.array = [

                    {name:'a',id:1},
                    {name:'b',id:2},
                    {name:'c',id:3},
                    {name:'d',id:4},
                    {name:'e',id:1}
                ];


                    $scope.$broadcast("dataUpdated", $scope.name);

                    $scope.$emit();

                })

//                .controller("ctrl3", function ($scope, Store) {
//
//                    $scope.$on("dataUpdated", function (event, data) {
//
//                    });
//
//                    $scope.name = "ll";
//                    Store.setName($scope.name);
//                    Store.name = $scope.name;
//                })
//
//                .controller("ctrl1", function ($scope) {
//                    console.log($scope.name);
//                })
//
//                .directive("test", ["Store",function (Store) {
//
//                    return {
//
//                        scope:{
//
//                        },
//                        require:"^ngModel",
//
//                        link: function (scope) {
//
//                            scope.age = 10;
//                            console.log(Store.getName());
//
//                        }
//                    }
//
//                }]);


//        $("").blink();

    </script>

</body>
</html>